<!DOCTYPE html>
html(lang="es")
    head
        style 
            include ./email.css
            
    body
        h2 Confirma tu Cuenta  
        p Ya estas casi incrito solo presiona en el siguiente boton
        a(href=`${confirmarURL}`) Confirmar Cuenta
        p Sino puedes acceder a este enlace visita #{confirmarURL}