<!DOCTYPE html>
html(lang="es")
    head
        style 
            include ./email.css
            
    body
        h2 Restablaecer Password 
        p Hola, has solicitado reestabelcer tu password , haz click en el siguiente enlace para reestablecer.
        a(href=`${resetURL}`) I a Resetear el passwors 
        p Sino puedes acceder a este enlace visita #{resetURL}